<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pets_We_LOVE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Homework.styles.css" asp-append-version="true" />
    <style>
        body{
            background-color: indianred;
        }
        .navbar-brand{
            background-color: #ff3d55;
            padding: 10px;
            margin: 10px;
            margin-right: 40px;
            &:hover{
                transform: scale(1);
            }
        }
        .navbar-brand img{
            width: 50px;
            border-radius: 20px;
            margin-right: 20px;
        }
        a{
            background-color: #ff5b70;
            border-radius: 15px;
            padding: 24px;
            margin: 4px;
            &:hover{
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
        }
        .picture {
            background-color: #ff7384;
            text-align: center;
            border-radius: 24px;
        }
        .picture img {
            width: 66%;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 40px;
        }
        .pat_type {
            color: #ffdfe3;
            background-color: #ff3d55;
            border-radius: 24px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 14px;
            padding-left: 50px;
        }
        .pat_type img {
            width: 50px;
            border-radius: 40px;
            margin-right: 20px;
        }
        .recommend {
            width: 45%;
            margin-left: 35px;
            margin-right: 20px;
            text-align: center;
            color: #ffdfe3;
        }
        .recommend img{
            width: 70%;
            border-radius: 24px;
        }
        .recommend_name{
            background-color: #ff3d55;
            border-radius: 24px;
            margin-top: 20px;
            padding: 10px;
        }
        #pat {
            background-color: #ff7384;
            border-radius: 40px;
            padding-left: 6%;
            padding-bottom: 4%;
            margin-bottom: 2%;
        }
        #pat img {
            border-radius: 60px;
            padding: 40px;
            &:hover{
                transform: scale(1.06);
                transition: transform 0.3s ease;
            }
        }
        #img{
            text-align: center;
        }
        .name {
            color: #ffdfe3;
            background-color: #ff5b70;
            text-align: center;
            border-radius: 20px;
            padding: 5px;
            &:hover{
                transform: scale(1.06);
                transition: transform 0.3s ease;
            }
        }
        #pat_img {
            background-color: #ff3d55;
            border-radius: 40px;
            padding: 40px;
            margin-bottom: 20px;
        }
        #pat_img img {
            border-radius: 40px;
            width: 24%;
            margin-left: 12%;
        }
        #div_pat_img {
            background-color: #ff7384;
            border-radius: 40px;
            padding: 20px;
            margin-left: 0.5px;
            margin-bottom: 20px;
        }
        .overview {
            background-color: #ff7384;
            border-radius: 40px;
            margin-bottom: 20px;
            padding: 20px;
        }
        .description {
            background-color: #ff7384;
            border-radius: 40px;
            padding: 20px;
        }
        .love_img {
            width: 100%;
            height: 100%;
        }
        #love{
            padding-bottom: 15%;
        }
        #love_img{
            width: 30%;
            margin-left: 35%;
        }
        #create{
            padding: 10px;
        }
        .Edit_Delete{
            color: white;
            text-align: center;
            margin-top: 15px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://i.pinimg.com/564x/b7/f9/6e/b7f96ebef408208db47cada313c97c3c.jpg">Pets_We_LOVE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pets" asp-action="DearFriend">DearFriend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pets" asp-action="Rookie">Rookie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Pets" asp-action="Exotic">Exotic</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>