@model MVC_Homework_1.Models.Product;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Product" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" type="number" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExtend.Color" class="control-label"></label>
                <input asp-for="ProductExtend.Color" class="form-control" />
                <span asp-validation-for="ProductExtend.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductExtend.Weig" class="control-label"></label>
                <input asp-for="ProductExtend.Weig" type="number" class="form-control" />
                <span asp-validation-for="ProductExtend.Weig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                @foreach (var item in ViewBag.Category)
                {
                    <div>[@item.Id] @item.Name</div>
                }
                <input asp-for="CategoryId" type="number" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
            <a asp-action="Index" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
