@{
    ViewData["Title"] = "Home Page";
    string a = "<3";
}

<div class="text-center">
    <h2 class="display-4">@a NANAMI @a</h2>
    <p>ขอศาปแช่ง <a href="https://docs.microsoft.com/aspnet/core">"มาฮิโตะทุกชาติไป"</a>.</p>
</div>
