@{
    string[] name = ["Mouse", "Fish", "Rabbit", "Rabbit",
                     "Chameleon", "Snake", "Squirrel", "Porcupine"];
    string[] img = [
        "https://i.pinimg.com/564x/57/42/68/574268362da81abd6fcface62f8d57a2.jpg",
        "https://i.pinimg.com/474x/fe/eb/26/feeb26c9ed79e8adebbfb0c328826ef5.jpg",
        "https://i.pinimg.com/564x/be/55/09/be5509251c3a4bf48e2499a1ab196ebc.jpg",
        "https://i.pinimg.com/474x/5b/3c/dc/5b3cdcdea9a99ee03fbf96d660de24c1.jpg",
        "https://i.pinimg.com/564x/d0/45/6d/d0456dad1f5a4a9148b71ea3adc20cfd.jpg",
        "https://i.pinimg.com/564x/8e/f6/4e/8ef64e80577bc14230c006cad369d719.jpg",
        "https://i.pinimg.com/564x/10/c5/eb/10c5eb1e6fdfe36b967597f0a4420d86.jpg",
        "https://i.pinimg.com/564x/c5/cd/2b/c5cd2b1c2b8a808145dc55cf64f3ae23.jpg"
    ];
}

<div>
    <div class="picture">
        <img src="https://i.pinimg.com/564x/ae/0b/32/ae0b32b298ca78fd27abd473567d3f9d.jpg">
    </div>
    <div class="pat_type">
        <h1><img src="https://i.pinimg.com/564x/39/e3/31/39e33114aadb47500d0678f0b179ff4a.jpg">แนะนำ [ Recommend ]</h1>
    </div>
    <div class="row row-cols-md-2">
            <a class="recommend" asp-controller="Dog" asp-action="Index">
                <img src="https://i.pinimg.com/474x/0a/88/26/0a88269ea3294ab9da6be0fad131989e.jpg">
                <div class="recommend_name">
                    <h1>Dog</h1>
                </div>
            </a>
            <a class="recommend" asp-controller="Cat" asp-action="Index">
                <img src="https://i.pinimg.com/474x/8c/03/e2/8c03e2971ee82cf68bcd93ceca9f1aa4.jpg">
                <div class="recommend_name">
                    <h1>Cat</h1>
                </div>
            </a>
    </div>
    <div class="pat_type">
        <h1><img src="https://i.pinimg.com/564x/39/e3/31/39e33114aadb47500d0678f0b179ff4a.jpg">สัตว์เลี้ยง [ Rookie ]</h1>
    </div>
    <div id="pat" class="row row-cols-md-4">
        @for (int i = 0; i < 4; i++)
        {
                <img src="@img[i]">
        }
        @for (int i = 0; i < 4; i++)
        {
            <div class="name">
                <h4>@name[i]</h4>
            </div>
        }
    </div>
    <div class="pat_type">
        <h1><img src="https://i.pinimg.com/564x/39/e3/31/39e33114aadb47500d0678f0b179ff4a.jpg">สัตว์เลี้ยง [ Exotic ]</h1>
    </div>
    <div id="pat" class="row row-cols-md-4">
        @for (int i = 4; i < name.Length; i++)
        {
            <img src="@img[i]">
        }
        @for (int i = 4; i < name.Length; i++)
        {
            <div class="name">
                <h4>@name[i]</h4>
            </div>
        }
    </div>
</div>